.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}
.navbar {
    background: #718800;
    background-size: cover;
    min-height: auto;
    height: 40px;
    margin-bottom: 0;
    padding-top: 2px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 43%);
}
.navbar-brand {
    font-size: 1.1rem;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #5a5a5a;
        font-size:12px;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item ::deep a.active {
    background-color:#f1f3f4;
    border-radius:4px;
    color: #5a5a5a;
}

.nav-item ::deep a:hover {
    background-color: #f1f3f4;
    color: #000;
}
.nav-item ::deep a span {
    color: #607d8b;
    font-size: 20px;
}
.nav-item ::deep a.active span {
    color: #718800;
}
@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block !important;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        padding: 40px 0 0;
        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
        width: 239px;
        z-index: 600;
        overflow-x: hidden;
        overflow-y: auto;
    }
}
