@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}



<div class="icon-title text-center m-auto pb-3">
    <img src="~/images/new_logo.svg" class="img-fluid" alt="" />
</div>
<div class="d-flex justify-content-center m-auto">
    <div id="login-main-panel" class="card login-panel p-2">
        <h1>@ViewData["Title"]</h1>
        <p class="subtext mb-0">Enter your email.</p>
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label" asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="pt-2 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Send me reset instructions</button>
            </div>
        </form>
    </div>

</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
