@page
@using Remotely.Shared.Models
@inject Remotely.Server.Services.IApplicationConfig AppConfig
@model Remotely.Server.Pages.RemoteControlModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.9, user-scalable=no" />
    <link rel="icon" href="~/favicon.ico" />
    <title>Remotely Remote Control</title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <link href="~/manifest-rc.json" rel="manifest" />
    <meta name="description" content="Remote support tools designed to get things done quickly." />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/remote-control.css" rel="stylesheet" asp-append-version="true" />
    @if (AppConfig.Theme == Remotely.Shared.Enums.Theme.Light)
    {
        <link href="~/css/remote-control-light.css" rel="stylesheet" asp-append-version="true" />
    }
    else
    {
        <link href="~/css/remote-control-dark.css" rel="stylesheet" asp-append-version="true" />
    }

    @if (Model.RemotelyUser is not null)
    {
        switch (Model.RemotelyUser.UserOptions.Theme)
        {
            case Remotely.Shared.Enums.Theme.Light:
                <link href="~/css/remote-control-light.css" rel="stylesheet" asp-append-version="true" />
                break;
            case Remotely.Shared.Enums.Theme.Dark:
                <link href="~/css/remote-control-dark.css" rel="stylesheet" asp-append-version="true" />
                break;
            default:
                break;
        }
    }
    else
    {
        if (AppConfig.Theme == Remotely.Shared.Enums.Theme.Light)
        {
            <link href="~/css/remote-control-light.css" rel="stylesheet" asp-append-version="true" />
        }
        else
        {
            <link href="~/css/remote-control-dark.css" rel="stylesheet" asp-append-version="true" />
        }
    }


    <link href="~/lib/fontawesome/css/all.min.css" rel="stylesheet" />

    <environment include="Development">
        <script src="~/lib/microsoft-signalr/signalr.js"></script>
        <script src="~/lib/msgpack5/msgpack5.js"></script>
        <script src="~/lib/microsoft/signalr-protocol-msgpack/dist/browser/signalr-protocol-msgpack.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/microsoft-signalr/signalr.min.js"></script>
        <script src="~/lib/msgpack5/msgpack5.min.js"></script>
        <script src="~/lib/microsoft/signalr-protocol-msgpack/dist/browser/signalr-protocol-msgpack.min.js"></script>
    </environment>
</head>

<body>
    <!--div class="remotely-header" title="Remotely">
        <div class="logo-title">
            Remotely
        </div>
        <div class="logo-subtitle">Support Portal</div>
    </div-->

    <button id="keyboardButton" hidden="hidden" title="Invoke the mobile touch keyboard.">
        <i class="fas fa-keyboard align-middle"></i>
    </button>


    <button id="menuButton" hidden>
        <i class="fas fa-chevron-circle-down"></i>
    </button>
    <div class="option-header">
        <h1 class="top-h1 p-0 m-0">VM Console</h1>
        <div id="menuFrame" class="open">

            <div class="menu-options-header d-none">
                Actions
            </div>

            <div class="options-grid">
                <button id="viewOnlyButton" class="option-button d-none"
                        title="View Only - If toggled, prevents sending commnads and input to the remote computer.">
                    <i class="fas fa-eye d-block"></i>
                </button>
                <button id="rm-trial" class="option-button"
                        title="Download Trial.">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" stroke="#607d8b" fill="#607d8b" class="bi bi-download" viewBox="0 0 16 16">
                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                        </svg> Download Trial
                    </span>
                </button>

                <button id="rm-upload-app" class="option-button" title="Upload Application.">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" stroke="#607d8b" fill="#607d8b" class="bi bi-cloud-upload" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383z" />
                            <path fill-rule="evenodd" d="M7.646 4.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V14.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3z" />
                        </svg> Upload Application
                    </span>
                </button>

                <button id="clipboardTransferButton" class="option-button"
                        title=" Type the current clipboard text on the remote computer.">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="16"  viewBox="0 0 12 16">
                            <path id="Path_397049" data-name="Path 397049"
                                  d="M3.25,7.75A.75.75,0,1,0,4,8.5.747.747,0,0,0,3.25,7.75Zm0,3A.75.75,0,1,0,4,11.5.747.747,0,0,0,3.25,10.75ZM9,11H5.5a.5.5,0,0,0,0,1H9a.5.5,0,0,0,0-1Zm1-9H8.438A2.54,2.54,0,0,0,7.594.563a2.539,2.539,0,0,0-3.187,0A2.54,2.54,0,0,0,3.563,2H2A2.028,2.028,0,0,0,0,4V14a2.028,2.028,0,0,0,2,2h8a2.028,2.028,0,0,0,2-2V4a2.028,2.028,0,0,0-2-2ZM6,1.5a.75.75,0,1,1-.75.75A.747.747,0,0,1,6,1.5ZM10.5,14a.481.481,0,0,1-.5.5H2a.481.481,0,0,1-.5-.5V4A.481.481,0,0,1,2,3.5h.563A2.055,2.055,0,0,0,2.5,4v.5A.481.481,0,0,0,3,5H9a.481.481,0,0,0,.5-.5V4a2.055,2.055,0,0,0-.062-.5H10a.481.481,0,0,1,.5.5ZM9,8H5.5a.5.5,0,0,0,0,1H9A.5.5,0,0,0,9,8Z"
                                  fill="#607d8b" />
                        </svg> Clipboard
                    </span>
                </button>

                <button id="blockInputButton" class="option-button  d-none"
                        title="Prevent remote user from using keyboard and mouse.">
                    <i class="fas fa-mouse d-none"></i> Block Remote Input
                </button>

                <button id="inviteButton" class="option-button  d-none"
                        title="Copy a link that lets another person view the remote screen.">
                    <i class="fas fa-user-plus d-none"></i> Invite Others
                </button>

                <button id="audioButton" class="option-button  d-none"
                        title="Windows only.  Stream the remote audio to the browser.">
                    <i class="fas fa-volume-up d-none"></i> Audio
                </button>

                <button id="fileTransferButton" class="option-button  d-none"
                        title="Transfer files to the remote computer.">
                    <i class="fas fa-file-upload d-none"></i> File Transfer
                </button>

                <button id="ctrlAltDelButton" class="option-button"
                        title="Simulate the Ctrl+Alt+Del command on the remote computer.">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16.001" height="14" viewBox="0 0 16.001 14">
                            <path id="Path_397047" data-name="Path 397047"
                                  d="M4,14.25a.747.747,0,0,1-.75.75H1a2.988,2.988,0,0,1-3-3V4A2.988,2.988,0,0,1,1,1H3.25a.75.75,0,0,1,0,1.5H1a1.631,1.631,0,0,0-1.062.438A1.631,1.631,0,0,0-.5,4v8a1.631,1.631,0,0,0,.438,1.063A1.631,1.631,0,0,0,1,13.5H3.25A.747.747,0,0,1,4,14.25ZM13.813,7.5l-4-4.25a.741.741,0,0,0-1.094,1l2.781,3H3.719a.751.751,0,0,0,0,1.5H11.5l-2.812,3a.7.7,0,0,0,.031,1.031.764.764,0,0,0,.5.219.777.777,0,0,0,.563-.25L13.75,8.5A.684.684,0,0,0,13.813,7.5Z"
                                  transform="translate(2 -1)" fill="#607d8b" />
                        </svg> Ctrl+Alt+Del
                    </span>
                </button>

                <button id="disconnectButton" class="option-button" title="Disconnect from the current session.">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="15.5" height="13.58" viewBox="0 0 15.5 13.58">
                            <path id="Path_397048" data-name="Path 397048"
                                  d="M.2-3.5,1.977-1.727l-.7.7L-.5-2.8-2.273-1.023l-.7-.7L-1.2-3.5-2.977-5.273l.7-.7L-.5-4.2,1.273-5.977l.7.7ZM6-14a.969.969,0,0,1,.391.078,1.016,1.016,0,0,1,.316.215,1.016,1.016,0,0,1,.215.316A.969.969,0,0,1,7-13v5H0v1.75l-.5.5-.5-.5V-8H-8v-5a.969.969,0,0,1,.078-.391,1.016,1.016,0,0,1,.215-.316,1.016,1.016,0,0,1,.316-.215A.969.969,0,0,1-7-14Zm0,1H-7v4H6ZM4.5-11a.481.481,0,0,1-.352-.148A.481.481,0,0,1,4-11.5a.481.481,0,0,1,.148-.352A.481.481,0,0,1,4.5-12a.481.481,0,0,1,.352.148A.481.481,0,0,1,5-11.5a.481.481,0,0,1-.148.352A.481.481,0,0,1,4.5-11ZM2.25-4H7v1H2.25l-.5-.5Zm-5,.5-.5.5H-8V-4h4.75Z"
                                  transform="translate(8.25 14.25)" fill="#607d8b" stroke="#607d8b" stroke-width="0.5" />
                        </svg> Disconnect
                    </span>
                </button>
            </div>


            <div class="menu-options-header d-none">
                View
            </div>

            <div class="options-grid">
                <button id="streamVideoButton" class="option-button d-none" hidden
                        title="Reduce bandwidth and increase FPS, but increase input delay.">
                    Stream Mode <i class="fas fa-video"></i>
                </button>

                <button id="changeScreenButton" class="option-button d-none"
                        title="Switch monitors on remote multi-monitor setups.">
                    Monitors <i class="fas fa-desktop"></i>
                </button>

                <button id="fullScreenButton" class="option-button d-none" title="Enter fullscreen mode.">
                    Fullscreen <i class="fas fa-window-maximize"></i>
                </button>


                <button id="fitToScreenButton" class="toggled option-button d-none"
                        title="If toggled, will resize image to fit in the window.">
                    Fit <i class="fas fa-expand"></i>
                </button>
            </div>


            <div class="menu-options-header d-none">
                Recording
            </div>

            <div class="options-grid">
                <button id="recordSessionButton" class="option-button d-none"
                        title="Record session as a WEBM video in the browser.">
                    Start <i class="fas fa-record-vinyl"></i>
                </button>

                <button id="downloadRecordingButton" class="option-button d-none"
                        title="Download the recorded session as a WEBM file.">
                    Download <i class="fas fa-download"></i>
                </button>
            </div>

            <div class="menu-options-header d-none">
                Windows Session
            </div>
            <div class="d-none">
                <select id="windowsSessionSelect" title="Switch to a different Windows session." class="option-button"
                        style="height: 30px; width: 90%; margin: 5px 0;"></select>
            </div>

            <div style="margin-top:15px;" class="d-none">
                <span>Connection: </span>
                <i id="connectionRelayedIcon" class="fas fa-wifi connection-icon" title="Connection is relayed"></i>
                <i id="connectionP2PIcon" class="fas fa-wifi connection-icon" title="Connection is peer-to-peer"
                   style="display:none"></i>
            </div>

        </div>
    </div>
    <div id="screenSelectBar" class="horizontal-button-bar">
    </div>

    <div id="clipboardTransferBar" class="horizontal-button-bar">
        <div class="">
            Shared Clipboard
        </div>
        <div style="padding-top:10px; padding-bottom: 10px;">
            <button id="typeClipboardButton" class="horizontal-bar-button">Type Clipboard</button>
        </div>
    </div>

    <div id="fileTransferBar" class="horizontal-button-bar">
        <div style="color:white; font-size:12px">
            File Transfer
        </div>
        <div style="color:white; font-size:12px;">
            <button id="fileUploadButton" class="horizontal-bar-button">Upload File</button>
            <button id="fileDownloadButton" class="horizontal-bar-button">Download File</button>
        </div>
    </div>
    <div id="connectBox" class="center-connection-box" style="display: none">
        <h3>Connect to a client:</h3>
        <div class="form-block">
            <label>Your Name (shown to client): </label>
            <br />
            <input id="nameInput" type="text" value="@Model.RemotelyUser?.UserOptions?.DisplayName" />
        </div>
        <div class="form-block">
            <label>Session ID: </label>
            <br />
            <input id="sessionIDInput" type="text" pattern="[0-9 ]+" />
        </div>
        <div class="right-aligned">
            <button id="connectButton">Connect</button>
        </div>
        <div id="statusMessage" class="status-message">
        </div>
    </div>

    <div id="disconnectedBox" class="center-connection-box" style="text-align: center; display: none;">
        <h3>Disconnected from client.</h3>
    </div>


    <div id="screenViewerWrapper" class="center-aligned">
        <canvas id="screenViewer" hidden="hidden"></canvas>
        <video id="videoScreenViewer" hidden="hidden"></video>
        <input id="fileTransferInput" hidden="hidden" type="file" multiple />
        <textarea id="touchKeyboardTextArea" value=" #"> #</textarea>
    </div>

    <div id="toastsWrapper">
    </div>


    <div id="fileTransferDiv" hidden="hidden">
        <span id="fileTransferNameSpan" class="mr-1 font-weight-bold" style="vertical-align: middle;"></span>
        <progress id="fileTransferProgress" style="vertical-align: middle; width: 100%"></progress>
    </div>

    <!--footer>
        <div class="footer-wrapper">
            &copy; @(DateTime.Now.Year) - Immense Networks
        </div>
    </footer-->

    <script src="~/src/RemoteControl/App.js" type="module"></script>
    <script>
        window.addEventListener("load", () => {
            ViewerApp.Init();
        })
    </script>
</body>

</html>
